#search_SearchComponent {
  border-radius: 2.5rem;
  border: solid 1px black;
  outline: none;
  width: 300px;
  height: 2.5rem;
  padding-left: 1.2rem;
  background: url();
  background-color: rgba(0, 149, 142, 0.1);
  text-align: center;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 600px) {
  #search_SearchComponent {
    margin: 6rem 0 1rem 0;
  }
}
