@media screen and (max-width: 600px) {
  .logoMobile {
    display: flex;
    width: 15rem;
    height: auto;
    padding: 5rem;
    margin-top: 5rem;
    position: absolute;
    top: 100%;
    left: 17%;
    background-image: #ffff;
  }
  .logo_responsive {
    position: relative;
  }
}
@media screen and (min-width: 601px) {
  .logoMobile {
    display: none;
  }
}
