.nav-list-desktop > a {
  font-weight: bold;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-list-desktop:hover,
.nav-list-desktop:hover a {
  background-color: #00958e;
  color: white;
  cursor: pointer;
}

.nav-list-desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
  border: 1px solid black;
  font-size: 1rem;
  width: 10rem;
  height: 3rem;
  transition: opacity 0.2s;
}
.nav-desktop:hover .nav-list-desktop:not(:hover) {
  opacity: 0.5;
}
@media screen and (max-width: 600px) {
  .nav-desktop {
    display: none;
  }
}
