.home {
  margin: 0 auto;
  width: 80vw;
  background-color: white;
  position: relative;
  border-style: dotted;
  padding-bottom: 5%;
}

.restaurants {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.bars {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.museums {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.nightclubs {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.parks {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}

.monuments {
  padding-top: 5%;
  text-align: center;
  height: 70vh;
  width: 100%;
}
