.Swiper {
  text-align: center;
  height: 50vh;
  width: 100%;
  margin-bottom: 10%;
 }

.map {
  background-color: rgba(228, 228, 228, 0.486);
  padding: 1rem;
  border-radius: 3%;
  width: fit-content;
 }
