.Swiper {
  text-align: center;
  height: 50vh;
  width: 100%;
  margin-bottom: 10%;
}

.cityTitle {
  font-size: 2rem;
}

.map {
  background-color: rgba(231, 231, 231, 0.616);
  padding: 1rem;
  border-radius: 3%;
  width: fit-content;
}

body {
  background-color: #f1f1f1;
}

.cards {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.app {
  margin: 4rem 12rem;
}

@media screen and (max-width: 600px) {
  .app {
    margin: 0;
  }
}
