.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2rem;
  height: 32rem;
}

.cards:nth-child(1) {
  margin-bottom: 2rem;
}

.cards::-webkit-scrollbar {
  width: 0.3rem;
}

.cards::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
  outline: 1px solid rgb(255, 255, 255);
}

.main {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  position: relative;
  top: 6vh;
  padding-right: 1.5rem;
}

@media screen and (max-width: 600px) {
  .main {
    flex-direction: column-reverse;
    top: 0;
    padding-right: 0;
  }
  .cards {
    height: 20rem;
    width: 100%;
  }
}
